/* messages animation */

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("/fonts/sanfranciscodisplay-regular-webfont.woff");
}

html {
    /* background: linear-gradient(to bottom right, #e6eded 40%, #31667a 75%); */
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco";
    font-size: 20px;
    background: transparent;
}

.show-hide-message.ng-hide-remove {
    animation: zoomIn 0.3s both ease;
}

.custom-container {
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
    -webkit-transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
    transition: 0.02s padding cubic-bezier(0.35, 0, 0.25, 1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control,
.datepicker[disabled="disabled"] input {
    border: none;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    padding-left: 0;
}

.navbar {
    /* border-bottom: 4px solid cadetblue; */
    background: #152b39;
    border-radius: 0;
    margin-bottom: 0;
}

.errorwindow {
    position: absolute;
    z-index: 3;
    top: 0;
    width: 50%;
    left: 25%;
    box-shadow: 5px 5px 50px #bce;
}

.errorwindow .header {
    background-color: white;
    height: 30px;
    font-size: 25px;
}

.errorwindow .header>div {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
}

.errorwindow .header .fa.fa-exclamation-circle {
    color: red;
    padding-top: 2px;
}

.errorwindow .header .fa.fa-check-circle {
    color: green;
    padding-top: 2px;
}

.errorwindow .alert {
    margin-bottom: 0;
    border-radius: none;
}

.apploading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

.apploading .backdrop {
    width: 100%;
    height: 100%;
    background-color: #ececec;
    opacity: 0.75;
}

.apploading .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}

table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}

.panel-info>.panel-heading {
    border: none;
    background: aliceblue;
    margin-bottom: 24px;
}

.panel-info {
    border: none;
    border-radius: 0;
}

.panel-content table thead tr {
    color: #31708f;
    background: none;
}

.error {
    font-size: 16px;
    color: red;
}

.required:after {
    content: '*';
    color: red;
}

.datepicker {
    position: relative;
    padding: 0;
    outline: none;
}

.form-control.ndp-nepali-calendar:focus, .form-control.nepali-money:focus{
    border-color: rgb(63,81,181);
    border-width:0 0 2px;
}
.form-control.ndp-nepali-calendar,.form-control.nepali-money{
    outline: none;
    display: block;
    background: none;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    box-shadow: none;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
}
.datepicker .ndp-click-trigger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 12px;
}

.datepicker[disabled="disabled"] .ndp-click-trigger {
    display: none;
}

.filter .pagination {
    margin: 0;
}

#filterContainer {
    position: absolute;
    background: #fff;
    -webkit-box-shadow: 3px 0px 2px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 0px 2px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 0px 2px 1px #ccc;
}

.navbar .navbar-toggle .icon-bar {
    background: #31667a;
}

.flex-wrap {
    flex-wrap: wrap;
}

.custom-md-card {
    margin: 0;
    border: 8px solid white;
    box-shadow: none;
}

.custom-md-card md-card-content p {
    text-align: center;
}

@media (max-width: 991px) {
    .custom-md-card {
        width: 100%;
    }
    .custom-md-card md-card-content p {
        text-align: start;
    }
}


/* .card {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: stretch;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
}

.card h3 {
    margin: 0;
}

.card .card-header,
.card .card-content,
.card .card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
}

.card .card-header {
    background: #FFF;
    height: calc(10vh - 18px);
    border-bottom: 1px solid rgba(128, 136, 180, 0.62);
    background: rgba(95, 158, 160, 0.46)
}

.card .card-content {
    background: #FFF;
    height: calc(30vh - 18px);
    border-bottom: 1px solid rgba(128, 136, 180, 0.62);
}

.card .card-footer {
    background: #FFF;
    height: calc(10vh - 18px);
    background: #fff;
} */

.form-horizontal .control-label {
    text-align: left;
}

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

@media all and (max-width: 768px) {
    html {
        background: #fff;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
    }
    table {
        border: 0;
    }
    table thead {
        display: none;
    }
    .table>tbody>tr {
        margin-bottom: 10px;
        display: block;
        /* border-bottom: 2px solid #ddd; */
    }
    .table>tbody>tr>td {
        display: block;
        text-align: right;
        font-size: 13px;
        border: none;
        min-height: 30px;
    }
    .filter>div:nth-child(1) {
        width: 100%;
        position: absolute;
        margin-right: auto;
        margin-left: auto;
        background: #dea;
        z-index: 100;
        text-align: center;
    }
    #filterContainer {
        width: calc(100% - 30px);
        top: 52px;
        bottom: 0;
    }
}

.autocomplete-custom li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}

.autocomplete-custom li:last-child {
    border-bottom-width: 0;
}

.autocomplete-custom .item-metadata {
    display: block;
    line-height: 2;
}

.centered {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.form-horizontal,
.row,
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.dependent-grid,
.dependent-grid .ui-grid-viewport {
    width: 100%;
    height: auto !important;
    overflow-x: hidden !important;
}


/* custom table*/
.table-layout {
    overflow-x:auto;
    min-height:  400px;
}
.sa-table,
.shadow {
    background: #FFF;
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.sa-table-header .sa-table-cell {
    font-weight: bold;
    color: rgba(0, 0, 0, .54)
}

.sa-table-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, .12);
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
    min-height: 48px;
}

.sa-table-header {
    min-height: 56px;
}

.sa-table-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 17px;
    height: inherit;
}

.sa-table-body .sa-table-row:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.02);
}

md-dialog.full-screen {
    max-height: 85%;
}

.column-label {
    display: inline-block;
    margin: 2px;
}

.ui-sortable .list-group-item {
    user-select: none;
}

/** printing header **/
.ntc-header{
    border-bottom: 4px solid rgba(0, 0, 0, 0.568);
}

/*********** Media query ******/

@media print {
    a[href]:after {
      content: none;
    }
    @page { 
        size: landscape;
        margin: 0;
    }

    *{
        font-size: 10pt;
    }

    #non-printable {
        display: none !important;
    }
    #printable {
        display: block;
    }
    .p-lg{
        padding: 4mm;
    }
    .ntc-header{
        height: 128px;
        border-bottom: 0.5mm solid rgba(0, 0, 0, 0.568);
    }
    .ntc-subject,.ntc-description{
        margin-top: 12mm;
    }
    pre{
        border: none;
    }
}

/*Margin and Padding helpers*/
/*xs*/
.p-xs { padding: .25em; }
.p-x-xs { padding: 0 .25em; }
.p-y-xs { padding: .25em 0 ; }
.p-t-xs { padding-top: .25em; }
.p-r-xs { padding-right: .25em; }
.p-b-xs { padding-bottom: .25em; }
.p-l-xs { padding-left: .25em; }
.m-xs { margin: .25em; }
.m-x-xs { margin: 0 .25em; }
.m-y-xs { margin: .25em 0 ; }
.m-r-xs { margin-right: .25em; }
.m-l-xs { margin-left: .25em; }
.m-t-xs { margin-top: .25em; }
.m-b-xs { margin-bottom: .25em; }
/*sm*/
@media (min-width:768px){
/*sm*/
.p-sm { padding: .5em; }
.p-x-sm { padding: 0 .5em; }
.p-y-sm { padding: .5em 0 ; }
.p-t-sm { padding-top: .5em; }
.p-r-sm { padding-right: .5em; }
.p-b-sm { padding-bottom: .5em; }
.p-l-sm { padding-left: .5em; }
.m-sm { margin: .5em; }
.m-x-sm { margin: 0 .5em; }
.m-y-sm { margin: .5em 0 ; }
.m-t-sm { margin-top: .5em; }
.m-r-sm { margin-right: .5em; }
.m-b-sm { margin-bottom: .5em; }
.m-l-sm { margin-left: .5em; }
}

/*md*/
@media (min-width: 992px){
.p-md { padding: 1em; }
.p-x-md { padding: 0 1em; }
.p-y-md { padding: 1em 0; }
.p-t-md { padding-top: 1em; }
.p-r-md { padding-right: 1em; }
.p-b-md { padding-bottom: 1em; }
.p-l-md { padding-left: 1em; }
.m-md { margin: 1em; }
.m-x-md { margin: 0 1em; }
.m-y-md { margin: 1em 0 ; }
.m-t-md { margin-top: 1em; }
.m-r-md { margin-right: 1em; }
.m-b-md { margin-bottom: 1em; }
.m-l-md { margin-left: 1em; }
}

/*lg*/
@media (min-width: 1200px){
.p-lg { padding: 1.5em; }
.p-x-lg { padding: 0 1.5em; }
.p-y-lg { padding: 1.5em 0; }
.p-t-lg { padding-top: 1.5em; }
.p-r-lg { padding-right: 1.5em; }
.p-b-lg { padding-bottom: 1.5em; }
.p-l-lg { padding-left: 1.5em; }
.m-lg { margin: 1.5em; }
.m-x-lg { margin: 0 1.5em; }
.m-y-lg { margin: 1.5em 0; }
.m-t-lg { margin-top: 1.5em; }
.m-r-lg { margin-right: 1.5em; }
.m-b-lg { margin-bottom: 1.5em; }
.m-l-lg { margin-left: 1.5em; }
}
/*xl*/
.p-xl { padding: 3em; }
.p-x-xl { padding: 0 3em; }
.p-y-xl { padding: 3em 0 ; }
.p-t-xl { padding-top: 3em; }
.p-r-xl { padding-right: 3em; }
.p-b-xl { padding-bottom: 3em; }
.p-l-xl { padding-left: 3em; }
.m-xl { margin: 3em; }
.m-x-xl { margin: 0 3em; }
.m-y-xl { margin: 3em 0; }
.m-t-xl { margin-top: 3em; }
.m-r-xl { margin-right: 3em; }
.m-b-xl { margin-bottom: 3em; }
.m-l-xl { margin-left: 3em; }